* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    color: white;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(bg6.jpg);
    filter: blur(4px);
    background-position: center;
    background-size: cover;
}



/* Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   Header   */

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-left: 80px;
    padding-right: 57px;
    align-items: center;
    /* height: 50px; */
    height: 7vh;
    z-index: 2;
    position: relative;
}

.left-nav {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.right-nav ul {
    display: flex;
    justify-content: center;
    color: white;
}

.right-nav ul li {
    list-style: none;
    margin: 0 23px;
}


.right-nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}


/* MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    MAIN    */

.main {
    height: 71.9vh;
    z-index: 2;
    position: relative;
}

.main-container {
    display: flex;
}


.main-container .left-main {
    width: 40%;
    height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .left-main .left-sub-main{
    color: white;
    font-size: 4rem;
    font-family: "Tilt Neon", sans-serif;
}

.main-container .left-main .left-sub-main .coloring1{
    color: rgb(8, 235, 235);
    /* padding-left: 10px; */
}

.main-container .left-main .left-sub-main .coloring2{
    color: rgb(190, 8, 235);
    /* padding-left: 10px; */
}

.main-container .left-main .left-sub-main .sizing{
    color: white;
    font-size: 2.5rem;
}



.main-container .right-main {
    width: 60%;
    height: 71vh;
    display: flex;
    justify-content: baseline;
    align-items: end;
}

.main-container .right-main .right-sub-main{
    display: flex;


}

.main-container .right-main .posts {
    display:flex;
    height: 250px;
    width: 225px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 107, 199);
    margin-right: 20px;

}

/* DEVELOPERS   DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  DEVELOPERS  */


/* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   */

.container-footer {
    z-index: 2;
    position: relative;
    /* height: 170px; */
    height: 21vh;
    background-color:white;
}
.sub-container-footer{
     display: flex; 
}
.left-footer{
    color: blue;
    font-size: large;
    padding-left: 35px;
    padding-top: 35px;
}
.right-footer{
    color: blue;
    font-size: large;   
    padding-left: 35px;
    padding-top: 35px;
    margin-left: 500px;
    
}
